@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Finlandica';
  src: url('../fonts/Finlandica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside,
section, article, header, footer, main, input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
    background: none;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html * {
    max-height: 1000000px;
}
input, textarea {
    font: inherit;
}
button {
    cursor: pointer;
	border: none;
	outline: none;
    background: none;
}
html, body {
    height: 100%;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
a:hover > span {
    text-decoration: underline;
    }
h1 {
    font-family: 'Finlandica';
    font-size: 50px;
}
h2 {
    font-family: 'Finlandica';
    font-size: 30px;
}
h4 {
    font-family: 'Finlandica';
    font-size: 20px;
}
.container {
    margin: 0 auto;
    width: 1140px;
}

/* icons */
.icon::before {
    font-family: 'icomoon';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}
/*.icon:hover::before {
    color: lightblue;
}
.logo::before {
    content: '\e900';
}
.login::before {
    content: '\e902';
}
.order::before {
    content: '\e901';
}
.cat::before {
    content: '\e903';
}*/
.to_left::before {
    content: '\e905';
}
.to_right::before {
    content: '\e904';
}

/* main */
    body {
        font: 20px/30px 'Finlandica';
        background: #fff;
        color: #666;
        display: flex;
        flex-direction: column;
        min-width: 320px;
    }
    header {
        flex: none;
        background: white;
        color: #000;
    }
    main {
        flex: 1 1 auto;
    }
    footer {
        flex: none;
        background: rgb(160,82,45);
        color: #fff;
    }

/* HEADER */

    .header_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-top: 2px solid #e7e7e7;
        border-bottom: 2px solid #e7e7e7;
        padding-bottom: 5px;
        padding-top: 15px;
        margin-bottom: 30px;
    }
    .header_left_logo { /* Логотип */
    }
    .header_left_block { /* Ваш город */
        text-align: center;
    }
    #city {
        cursor: pointer;
        font-weight: 500;
    }
    .user_location {
        line-height: 1.2;
        width: 110px;
    }
    .list_city_select {
        display: block;
        background: #ffd944;
        padding: 0.25rem 0.25rem;
        border-radius: 0.25rem;
        margin: 3px 0 0;
        text-align: center;
    }
    .header_center_block { /* Поиск по товарам */
    }
    .input {
        border-radius: 5px;
        border: 1px solid #d3d6db;
        padding-left: 10px;
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 20%);
    }
    .input_search {
        height: 35px;
        border-radius: 8px;
        width: 400px;
    }
    .button_search {
        font-size: 14px;
        padding: 9px 22px;
        border-radius: 8px;
        background: #ffd944;
    }
    .header_right_enter { /* Вход в личный кабинет */
    }
    .link_enter {
        display: inline-block;
        padding: 0.25rem;
        padding-left: calc(0.25rem + 30px);
        background: #929b3d;
        border-radius: 0.25rem;
        color: black;
        position: relative;
        line-height: 32px;
    }
    .link_enter:hover span {
        text-decoration: none;
    }
    .link_enter::before {
        font-family: 'icomoon';
        line-height: 28px;
        content: '\e902';
        position: absolute;
        left: 0.25rem;
        top: calc(0.25rem + 1px);
    }
    .link_basket { /* Корзина */
        display: inline-block;
        padding: 0.25rem;
        padding-left: calc(0.25rem + 30px);
        background: #ffd944;
        border-radius: 0.25rem;
        color: black;
        position: relative;
        line-height: 32px;
    }
    .link_basket:hover span {
        text-decoration: none;
    }
    .link_basket::before {
        font-family: 'icomoon';
        line-height: 28px;
        content: '\e901';
        position: absolute;
        left: 0.25rem;
        top: calc(0.25rem + 1px);
    }

/* Список страниц */
    .topmenu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 25px;
        font-weight: 500;
        color: black;
    }
    .topmenu li {
        display: inline-block;
        padding-right: 70px;
        line-height: 30px;
    }
    .topmenu .current {
        cursor: default;
    }
/* текст на главной странице */
    .text_container.main {
        padding: 50px 0 50px 60px;
    }
    .text_container.main ul {
        padding: 10px 0 0 25px;
    }
    .text_container.main h2 {
        padding-bottom: 20px;
    }
    .text_container ul li:before {
        content: '\273f';
        padding-right: 20px;
    }
    
/* FOOTER */
    .footer {
        margin-top: 40px;
    }
    .footer_wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-bottom: 5px;
        padding-top: 15px;
    }
    .footer_menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        position: relative;
    }
    .footer_menu li {
        display: block;
    }
    .footer_menu a {
        color: white; 
    }
    .copyright_text  {
        font-size: 15px;
        text-align: center;
        line-height: 20px;
    }   
    .footer_left {
        text-align: right;
    }
    .footer_info {
        font-size: 16px;
        line-height: 20px;
    }

/* action */
    .action {
        background: red;
        padding: 30px;
        color: yellow;
    }
    .action .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 60px;
    }
    .action p {
        width: 50%;
        font-weight: 500; 
        text-align: center;
    }
    .action_timer {
        display: block;
    }

/* slider */
    .slider {
        width: 1026px;
        height: 278px;
        padding: 30px 0;
        margin: 0 auto;
        position: relative;
    }
    .slider_desk {
        border: 1px solid black;
        width: calc(100% - 2px);
        height: 276px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        background: #fff;
    }
    .slider_block {
        border: 1px solid black;
        max-height: 100%;
        width: calc(100% - 2px);
        height: 276px;
        position: absolute;
        z-index: -1;
        top: 0;
        background: #fff;
        overflow: hidden;
    }
    .slider_block.next {
        left: 100%;
        z-index: 1;
    }
    .slider_block.prev {
        left: -100%;
        z-index: 1;
    }
    .slider_block.was_current {
        transition: left .5s;
    }
    .slider_block.current {
        left: 0;
        z-index: 1;
        transition: left .5s;
    }
    .slider_block img {
        position: absolute;
        left: 50%;
        margin-left: -512px;
    }
    .slider button {
        position: absolute;
        border: 1px solid #c05046;
        height: 40px;
        width: 60px;
        border-radius: 8px;
        top: 145px;
        z-index: 1;
        cursor: pointer;
        font-size: 40px;
        line-height: 40px;
        color: #c05046;
        opacity: 0;
    }
    .slider .to_left { 
        left: 10px;
    }
    .slider .to_right {
        right: 10px;
    }
    .slider_points {
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        height: 24px;
        display: flex;
        justify-content: center;
        gap: 10px;
        z-index: 1;
    }
    .slider_points span {
        flex: none;
        border-radius: 50%;
        border: 1px solid #c05046;
        height: 22px;
        width: 22px;
        cursor: pointer;
        opacity: 1;
    }
    .slider_points span.active {
        background: #c05046;
    }
    .slider_desk:hover ~ button,
    .slider button:hover,
    .slider_desk:hover ~ .slider_points span,
    .slider_points:hover span {
        opacity: 1;
    }

/* modals */
    .screener {
        background: rgba(0,0,0,.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
    }
    .modal {
        background: white;
        border-radius: 10px;
        position: fixed;
        left: calc(50% - 240px);
        width: 400px;
        top: 200px;
        padding: 40px;
        z-index: 1;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        color: red;
        font-size: 40px;
        line-height: 40px;
        box-shadow: 0 0 5px rgba(0,0,0,.25);
    }
    .close:active {
        box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    }
    #citymodal p {
        color: blue;
        cursor: pointer;
    }
    #citymodal p:hover {
        text-decoration: underline wavy blue;
    }
    #citysearch {
        border: 1px solid blue;
        color: blue;
        display: block;
        padding: 5px 15px;
        margin: 15px 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;
    }
    #citysearch::placeholder {
        color: rgba(0,0,255,.5);
        font-style: italic;
    }
    .columns {
        columns: 185px 2;
        gap: 30px;
    }

/* Catalog */
    .catalog .container {
        display: flex;
        gap: 20px;
        margin-top: 10px;
    }
    .catalog aside {
        flex: 0 0 300px;
        background: green;
        color: white;
    }
    .catmenu {
        padding: 20px;
    }
    .catmenu a {
        color: white;
    }
    .catmenu ul {
        margin-top: 10px;
    }
    .catmenu > ul > li {
        padding: 5px 30px 5px 5px;
        border-top: 1px dashed white;
    }
    .catmenu ul ul {
        margin: 0;
        position: relative;
        left: 30px;
    }
    .catmenu ul ul::before {
        content: '\23f7';
        position: absolute;
        top: -30px;
        right: 0;
        transition: transform 1s;
        cursor: pointer;
    }
    .catmenu .open::before {
        transform: rotateX(180deg);
    }
    .catmenu li li {
        font-size: 14px;
        line-height: 30px;
    }
    .catmenu.simple li li {
        display: none;
    }
    .catmenu.simple .open li {
        display: list-item;
    }
    .catalog .filters {
        padding: 20px;
    }
    .filters input {
        border: 1px solid white;
        color: white;
        padding: 2px 5px;
        width: 50px;
        text-align: center;
        margin: 0 5px;
    }
    #slider-range {
        margin: 20px 0;
    }
    #slider-range .ui-widget-header {
        background: #FF4500;
    }
    .catalog article {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    .cat-item {
        display: block;
        float: left;
        width: 171px;
        height: 171px;
        border: 1px solid #ccc;
        padding: 10px 5px;
        margin: 0 0 10px 10px;
        font-size: 20px;
        border-radius: 5px;
        text-align: center;
    }
    .cat-item-image {
        height: 130px;
    }
    .cat-item-image img {
        max-height: 120px;
    }
    .cat-title {
        text-decoration: none;
    }

/* breadcrumbs */
    .breadcrumbs {
        padding-bottom: 10px;
        height: 40px;
    }
    .breadcrumbs li {
        display: inline-block;
        vertical-align: top;
        padding-right: 20px;
        margin-right: 10px;
        position: relative;
        font-size: 15px;
        line-height: 20px;
    }
    .breadcrumbs a::after {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
        height: 20px;
        content: '\203a';
        text-align: center;
        font-size: 20px;
        line-height: 16px;
    }
    
/* product */
    .product {
        display: flex;
        gap: 40px;
    }
    .images {
        flex: 0 0 470px;
    }
    .bigimage {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px;
    }
    .gallery {
        width: 440px;
        height: 50px;
        margin-top: 20px;
        padding: 0 15px;
        position: relative;
    }
    .gallery button {
        width: 15px;
        height: 50px;
        position: absolute;
        top: 0;
        color: orange;
    }
    .gallery .disabled {
        cursor: default;
        opacity: .3;
    }
    .gallery button:hover {
        color: black;
    }
    .gallery .disabled:hover {
        color: green;
    }
    .gallery .gal_left {
        left: -10px;
    }
    .gallery .gal_right {
        right: 0px;
    }
    .gallery button span {
        font: bold 50px/50px 'Finlandica';
        display: inline-block;
        margin-top: -9px;
    }
    .gallery > div {
        width: 440px;
        height: 50px;
        overflow: hidden;
        position: relative;
    }
    .gallery .rail {
        display: flex;
        gap: 5px;
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
    }
    .product .price {
        color: red;
        font: 50px/50px 'Finlandica';
        line-height: 70px;
        padding-right: 30px;
        margin-bottom: 10px;
    }
    .product .price span::after {
        content: '\20BD' " / за 1 кг";
    }
    .offer button {
        width: 100%;
        height: 34px;
        max-width: 200px;
        font-size: 18px;
        align-items: center;
        color: #fff;
        background: #23a53c;
        border: 1px solid #23a53c;
        border-radius: 5px;
    }
    .offer h1 {
        margin-bottom: 10px;
    }
    .offer p {
        margin-top: 20px;
        font-size: 17px;
        line-height: 20px;
        text-align: justify;
    }
    .add_table table {
        display: block;
        max-width: 100%;
        text-indent: initial;
        border-collapse: collapse;
        font-size: 15px;
        text-align: center;
    }
    .add_table td, th {
        padding: 3px;
        border: 2px solid gray;
    }
    .nutrition_facts_title td {
        background: #eee;
        color: #6F942A;
        font-weight: bold;
    }

/* CONTACTS */
    .contacts_block h2 {
        margin-bottom: 15px;
    }
    .contacts_block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .contacts_forms {
        height: auto;
        width: 262px;
        padding: 15px;
    }
    .form_group label {
        font-size: 19px;
        font-weight: 500;
    }
    .form_control {
        display: block;
        width: 100%;
        height: 30px;
        padding: 6px;
        font-size: 16px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .form_control_text {
        display: block;
        width: 100%;
        height: 80px;
        padding: 6px;
        font-size: 16px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .btn_submit_forms {
        width: 274px;
        height: 34px;
        font-size: 18px;
        position: relative;
        border: 1px solid #23a53c;
        background: #23a53c;
        border-radius: 5px;
        color: #fff;
    }

/* ORDER */
    .order .icon {
        font-family: 'icomoon';
        cursor: pointer;
        border: 1px solid #ced4da;
        padding: 6px 12px;
        height: 44px;
        margin-left: -1px;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .order_row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .oreder_table {
        width: auto;
    }
    .order_forms {
        width: 500px;
    }
    .form_check {
        font-size: 15px;
        line-height: 30px;
    }
    .table-striped {
        display: block;
        max-width: 100%;
        text-indent: initial;
        border-collapse: collapse;
        margin: 30px auto;
        font-size: 25px;
        text-align: center;
    }
    .table-striped td, th {
        padding: 3px;
        border: none;
    }
    .table-striped thead {
        padding: 3px;
        border-bottom: 2px solid gray;
    }
    .table-striped tfoot {
        text-align: right;
        padding: 10px;
        border-top: 2px solid gray;
    }
    .order_button {
        margin-top: 20px;
        text-align: center;
    }
    .table .allsum {
        padding-top: 20px;
    }
    .table .allsum span {
        padding-top: 30px;
        color: red;
    }
    .table .allsum span::after {
        content: '\20\20BD'
    }
    .table .index {
        text-align: center;
        width: 50px;
    }
    .table .name {
        text-align: left;
        padding-left: 20px;
        width: 200px;
    }
    .table .qty {
        text-align: center;
        width: 200px;
    }
    .table .price {
        text-align: center;
        width: 100px;
    }
    .table .sum {
        text-align: center;
        width: 100px;
    }
    .table td.delete {
        text-align: center;
        width: 30px;
    }
    .table .qty strong {
        min-width: 100px;
        text-align: center;
        display: inline-block;
        user-select: none;
    }
    .table .qty span {
        border: 1px solid black;
        background: green;
        color: white;
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
        user-select: none;
    }
    .table .qty .minus {
        margin-right: 5px;
    }
    .table .qty .plus {
        margin-left: 5px;
    }
    #order {
        height: 30px;
        text-align: center;
    }
    .container.empty,
    .empty .container {
        display: none;
    }
    .empty .container.empty {
        display: block;
    }
    .container.empty h1{
        margin-bottom: 30px;
    }
    .time {
        position: relative;
        display: flex;
        flex: 1 1;
        width: 512px;
    } 
    .time > input  {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .is-invalid,
    .invalid-feedback {
        display: none;
    }
    .is-invalid,
    .invalid-feedback {
        display: block;
        color: #dc3545;
    }
    .form_control.is-invalid {
        border-color: #dc3545;
    }
    
/* calendar */
    #calendar {
        margin: auto;
        height: auto;
        text-align: center;
        cursor: pointer;
    }
    .dp_grid {
        color: black;
        display: grid;
        grid-template-columns: repeat(7, auto);
    }
    .month_year {
        font-size: 25px;        
    }
    .headday {
        color: white;
        background: grey;
        border: 1px solid white;
    }
    .next {
        font-size: 25px; 
        font-weight: bold;
    }
    .prev {
        font-size: 25px;
        font-weight: bold;        
    }
    
/* adaptive */
@media (max-width: 1240px) {
    .container {
        width: auto;
        margin: 0 40px;
    }
    .input_search {
        height: 35px;
        border-radius: 8px;
        width: 200px;
    }
    .slider {
        width: 818px;
    }
    .product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    /*.images {
        flex: 0 0 470px;
    }
    }*/
}

@media (max-width: 915px) {
    .container {
        width: auto;
        margin: 0 16px;
    }
    .topmenu li {
        padding-right: 20px;
    }
    .slider {
        width: 600px;
    }
    .link_enter {
        padding-left: 0.25rem;
    }
    .link_enter::before {
        position: static;
    }
    .link_enter span {
        display: none;
    }
    .link_basket {
        padding-left: 0.25rem;
    }
    .link_basket::before {
        position: static;
    }
    .link_basket span {
        display: none;
    }
    .footer_center {
        width: 200px;
        hyphens: auto;
    } 
}
@media (max-width: 625px) {
    .container {
        width: auto;
        margin: 0 5px;
    }
    .slider {
        width: 350px;
    }
    .action .container {
        display: block;
        height: 100%;
    }
    .action p {
        width: 100%;
        font-weight: 500; 
        text-align: center;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .topmenu {
        flex-direction: column;
    }
    .header_wrap {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .link_enter {
        padding-left: calc(0.25rem + 30px);
    }
    .link_enter::before {
        position: absolute;
    }
    .link_enter span {
        display: inline-block;
    }
    .link_basket {
        padding-left: calc(0.25rem + 30px);
    }
    .link_basket::before {
        position: absolute;
    }
    .link_basket span {
        display: inline-block;
    }
    .footer_wrap {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .footer_left {
        text-align: center;
    }
    .topmenu li {
        display: block;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .text_container.main {
        padding: 20px 0 0 10px;
    }
    .text_container.main ul {
        padding: 10px 0 0 5px;
    }
    .text_container.main h2 {
        padding-bottom: 20px;
        text-align: center;
    }
    .catalog aside {
        flex: auto;
    }
    .cat-item {
        width: 90px;
        height: 90px;
    }
    .cat-item-image {
        height: 65px;
    }
    .cat-item-image img {
        max-height: 60px;
    }
    .cat-title {
        font-size: 10px;
    }
    .images {
        flex: 0 0 400px;
    }
    .bigimage img{
        height: 275px;
        width: 275px;
    }
    .gallery {
        width: 280px;
        justify-content: center;
    }
    .gallery > div {
        width: 280px;
    }
    .gallery .gal_left {
        left: -10px;
    }
    .gallery .gal_right {
        right: 20px;
    }
    .add_table table {
        display: block;
        max-width: 100%;
        text-indent: initial;
        border-collapse: collapse;
        margin-top: 30px;
        font-size: 15px;
        text-align: center;
    }
    .add_table td, th {
        padding: 3px;
        border: 2px solid gray;
    }
    .nutrition_facts_title td {
        background: #eee;
        color: #6F942A;
        font-weight: bold;
    }
    .offer h1 {
        padding: 0 5px;
    }
    .offer p {
        padding: 0 5px;
    }
    .product .price {
        padding-right: 0;
    }
    .add_table {
        display: block;
        position: relative;
        width: 100%;
        border-collapse: collapse;
    }
    tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    td {
        display: block;
        margin-right: -6px;
        min-height: 1.25em;
        text-align: left;
    }
    .modal {
        display: none;
    }
    .screener {
        display: none;
    }
    .adress {
        padding-left: 10px;
    }
}